@media (max-width: 991px){
	.global-header .header-logo a .logo{
		height: 50px !important;
	}
	.course-info .course-sidebar{
		float:none;
		width: 100%;
	}
	.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register{
		width:initial;
	}

}
@media (min-width: 992px){
	.global-header .nav-links .secondary {
		float: right;
		margin: 40px 80px 0 0;
	}
	.global-header .nav-links .secondary a.register-btn{
		display:none;
	}
	.global-header .header-logo a{
		margin: 15px 0 0 25px;
	}
	.global-header .header-logo a .logo{
		height: 90px !important;
	}
	.global-header .header-logo .course-header{
		margin: 50px 0px 0 40px;
	}
	nav.eol-menu{
		margin:10px;
	}	
	.eol-menu .nav-item{
		display:inline-block;
		margin-right:15px;
	}
	.global-header .nav-links .secondary{
		margin: 60px 40px 0 0;
	}
	.global-header{
		padding:0;
	}
}
@media (min-width: 576px) {
        .categ-courses-title{
                font-size:0.9rem;
        }
}
@media (min-width: 768px) {
        .categ-courses-title{
                font-size:0.9rem;
        }
}

@media (min-width: 992px) {
        .categ-courses-title{
                font-size:1.2rem;
        }
}

@media (min-width: 1200px) {
        .categ-courses-title{
                font-size:1.2rem;
        }
}
.categ-courses-title{
        background-color:#0075b4;
        color:white;
        text-align:center;
        margin: 20px 0 20px 0;
        padding:0;
}
.categ-courses-title p{
        margin:0;
        padding:20px 0 20px 0;

}
.course-info header.course-profile{
	padding-top: 0;
	height: auto;
}
.wrapper-footer footer .colophon .nav-colophon li{
	list-style-type: none;
}
.global-header{
	border:none;
	box-shadow:none;
}
.courses-container .courses{
	padding: 0;
}
.without-courses{
	color: #0075b4;
	text-align: center;
}
/**ficus*/
div.login-register div.toggle-form{
	display:none !important;
}
.header-global h1.logo img {
	height: 90px !important;
}
.header-global{
	height: 126px !important;
}
li.item.nav-courseware-01{
	padding-top:40px;
	margin-bottom:16px;
}
.header-global  ol.user{
	padding-top:40px;
}
.header-global a.doc-link {
	padding-top:40px;
}
.header-global .nav-global {
    padding-top:40px;
}
main.static_pages{
	margin:32px;
}
.home > header {
	background-size: cover;
	background-position: 50%;

	.outer-wrapper {
		padding-top: 150px;
	    padding-bottom: 150px;
	}
	.title {
		background: transparent;
		box-shadow: none;
		margin-left: 0;

		> .heading-group h1 {
			color: #fff;
			text-shadow: none;
		}
		> .heading-group p {
			color: #fff;
		}
	}
}
