# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />
<%block name="pagetitle">${_("FAQ")}</%block>
<style>
.view-login .content-wrapper, .view-passwordreset .content-wrapper, .view-register .content-wrapper, body .content-wrapper {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background: 0 0;
    padding-bottom: 40px;
    background-color: #fff;
    min-height: 0px;
    line-height: 2.0em;
}
.static-container {
    margin: 0 auto 0;
    max-width: 1200px;
    padding: 60px 0 120px;
    width: 100%;
}
.content-wrapper>.static-container {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 0;
    max-width: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 40px;
}
@media (min-width: 768px){
    .content-wrapper>.static-container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .content-wrapper>.static-container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .content-wrapper>.static-container {
        width: 1170px;
    }
}
.content-wrapper>.static-container h1 {
    margin-top: 0;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.static-container h1 {
    margin-bottom: 30px;
    color: inherit;
    font-weight: 500;
    -webkit-font-smoothing: auto;
}
p {
    color: inherit;
    font: inherit;
    margin: 0 0 1em;
    text-align: justify;
}
b, strong {
    font-weight: 600;
}
</style>
<section class="static-container faq">

    <h1>${_("Sobre UAbierta")}</h1>
    
    <p>
    <strong>¿Qué es UAbierta?</strong>
    <br>
    UAbierta es la plataforma de cursos de extensión, masivos, abiertos y en línea de la Universidad de Chile. Lee más sobre nosotros en la sección UAbierta del <a href="/about">menú de inicio</a>.
    <br>
    <br>
    <strong>¿Qué es el Código de honor?</strong>
    <br>
    El Código de honor es el compromiso que adquieres al inscribirte en un curso de la plataforma UAbierta. Se basa en seis puntos principales respecto a tu conducta y actitud ante el aprendizaje activo. Revisa el <a href="/honor">Código de honor</a> periódicamente para estar familiarizado
     con eventuales actualizaciones.
    <br>
    <br>
    <strong>¿Qué equipamiento debo tener para tomar un curso de UAbierta?</strong>
    <br>
    Requieres un computador conectado a Internet. Si bien nuestro sitio web está diseñado para visualizarse desde diversos dispositivos, funciona óptimamente con los navegadores <a href="https://support.google.com/chrome/answer/95346?hl=es-419">Chrome</a> y <a href="https://www.mozilla.org/es-CL/firefox/new/">Firefox</a>. Si no los tienes, puedes descargarlos gratuitamente en sus sitios corporativos.
    <br>
    <br>
    <strong>¿Puedo tener más de una cuenta de usuario en UAbierta?</strong>
    <br>
    No, en la plataforma UAbierta se solicita que uses sola cuenta, siempre usando información personal fidedigna.
    <br>
    <br>
    <strong>¿Los cursos de UAbierta entregan certificación, título o grado académico?</strong>
    <br>
    Es posible acceder a un Certificado de Formación de Extensión, bajo las siguientes condiciones:
    <ul>
        <li>Aprobar con un puntaje igual o superior a 60%, promedio obtenido de la sumatoria de las cuatro pruebas parciales y la evaluación final de pares.</li>
        <li>Cancelar el importe correspondiente, en UAbierta, durante el plazo informado para tal propósito. El documento se emitirá en formato digital y podrá ser impreso o exportado en PDF y, se descargará directamente en plataforma, posterior al cierre del curso.</li>
    </ul>
    </p>
    
    <h1>${_("Registro en UAbierta")}</h1>
    
    <p>
    <strong>¿Cómo me registro en UAbierta?</strong>
    <br>
    Dirígete al botón <a href="/register">Regístrate</a>, en la página principal (ángulo superior derecho de la pantalla). Una vez ahí, digita: nombre, apellidos, correo electrónico, ciudad y país, entre otros. Luego, si estás de acuerdo, acepta los términos del servicio (condiciones de la plataforma) y el Código de honor (compromiso de probidad para realizar cursos).
    <br>
    <br>
    Si tienes una cuenta Google, puedes enlazar tu perfil, también, con los registros de UAbierta. Hecho esto, crea un nombre de usuario y contraseña especial en nuestra página.
    <br>
    <br>
    Luego, recibirás un correo de activación de tu cuenta; sigue las instrucciones. Recuerda que tu usuario en el login de acceso, es el correo electrónico que inscribiste.
    <br>
    <br>
    <strong>¿Cómo cambio mi contraseña?</strong>
    <br>
    Accede a tu sesión en uabierta.uchile.cl; dentro de ella, encontrarás el botón Cuenta, donde restablece y modifica la constraseña.
    <br>
    <br>
    <strong>¿Qué pasa si olvido mi contraseña?</strong>
    <br>

    En caso de no recordar tu contraseña, presiona <a href="/login">¿Necesita ayuda para iniciar sesión?</a> Luego, escribe la cuenta registrada y selecciona <b>"Recuperar mi contraseña"</b>. En unos instantes un correo electrónico llegará a tu casilla, con las instrucciones para crear una nueva contraseña. Si no llega luego de unos minutos, revisa las bandejas de spam (correo no deseado).

    <br>
    <br>
    <strong>¿Puede caducar mi cuenta de usuario?</strong>
    <br>
    Sí, UAbierta se reserva el derecho de caducar la cuenta de aquellos usuarios que no respeten el Código de honor.
    </p>
    
    
    <h1>${_("Antes de iniciar en UAbierta")}</h1>
    <p>
    
    <strong>¿Cuánto cuestan los cursos en UAbierta?</strong>
    <br>
    Los cursos existentes son libres de cobro para los participantes; tampoco consideran cobros por materiales o por otro concepto.
    
    
    <strong>¿A quién se le otorga un certificado de formación de extensión?</strong>
    <br>
    El Certificado de Formación de Extensión se otorga a quien cumpla con la política de aprobación y cancele el importe correspondiente, en plataforma.

    <br>
    <br>
    <strong>¿Quiénes pueden tomar los cursos?</strong>
    <br>
    
    Todos pueden ser parte de los cursos UAbierta. No existen requisitos académicos previos para tomar los cursos. Son 100% abiertos a la comunidad.
    
    <br>
    <br>
    <strong>¿En qué horario se dictan los cursos?</strong>
    <br>
    Los cursos –con sus materiales y recursos audiovisuales- están disponibles las 24 horas del día, durante las fechas que se dicte el curso en UAbierta.
    
    <br>
    <br>
    <strong>¿Cuánto duran los cursos?</strong>
    <br>
    
    La duración aproximada de los cursos de UAbierta es de cinco semanas.
    <br>
    <br>
    
    <strong>¿Cuánto tiempo de estudio debo dedicarle a los cursos de UAbierta?</strong>
    <br>
    Dependerá de cada curso y sus exigencias; sin embargo, el equipo académico estima un mínimo de seis horas semanales de dedicación, por módulo. Revisa el Programa que especifica los contenidos, Política de Aprobación, actividades y otros datos de interés, que requieres conocer sobre el curso.
    
    <br>
    <br>
    
    <strong>Quedé afuera de la inscripción de un curso en UAbierta. Quiero saber si existe una lista de espera u otra forma de inscripción. </strong>
    <br>
    Para los cursos actuales, no existen las listas de espera ni tampoco otras formas de inscripción. Te invitamos a abrir una cuenta en UAbierta y recibir, periódicamente, información sobre las novedades. También puedes seguirnos en:
    <ul>
        <li><a href="https://www.instagram.com/uabiertauchile/">Instagram</a></li>
        <li><a href="https://www.facebook.com/UAbiertaUChile">Facebook</a></li>
        <li><a href="https://twitter.com/UAbiertaUChile">Twitter</a></li>
        <li><a href="https://www.linkedin.com/company/uabierta-uchile/">Linkedin</a></li>
    </ul>
    <br>
    <br>
    <strong>Me gustaría tener información actualizada de los cursos que se abrirán, ¿Cómo puedo recibirla? </strong>
    <br>
    Abre una cuenta en UAbierta, aun cuando no existan cursos disponibles. De esa manera, podremos enviarte periódicamente nuestras informaciones.
    </p>
    <h1>${_("Durante el curso en UAbierta")}</h1>
    <p>
    <strong>Acabo de hacer el registro en UAbierta y me quedó la duda si realmente estoy inscrita en el curso ¿Cómo puedo saberlo?</strong>
    <br>
    Confirma ingresando a la plataforma con tu clave y usuario: el curso en el que estás efectivamente inscrit@ aparecerá debajo del título <b>Cursos activos</b>.
    <br>
    <br>
    <strong>Si tengo dudas durante el curso ¿A quién debo preguntar?</strong>
    <br>
    Cada uno de los cursos tiene un foro público de ayuda técnica y foros de contenidos. El equipo de UAbierta y la comunidad de aprendizaje estarán ahí para ayudarte a progresar en tus estudios.
    <br>
    <br>
    <strong>¿Puedo tomar dos o más cursos a la vez?</strong>
    <br>
    Sí, puedes tomar cursos simultáneamente. Solicitamos que aproveches la oportunidad con responsabilidad y compromiso para que finalices los cursos exitosamente.
    <br>
    <br>
    <strong>Existen cursos que tienen encuestas al inicio y final del curso. ¿Qué sucede si no las contesto?
     </strong>
    <br>
    
    En general, las encuestas iniciales y finales sirven para conocer mejor a quienes los cursan y para llevar estadísticas que nos permitan perfeccionar nuestro trabajo. Son actividades voluntarias, sin nota, que agradecemos contestes, apenas lo solicitemos.
    <br>
    <br>
    <strong>¿Puedo realizar mis trabajos con ayuda de otros compañeros de curso en UAbierta?
    </strong>
    <br>
    En general, los trabajos y tareas de UAbierta se desarrollan individualmente.
    <br>
    <br>
    <strong>¿Es necesario participar de los foros para usuarios existentes en UAbierta?
    </strong>
    <br>
    UAbierta cree en la construcción colectiva del conocimiento. Por eso, te recomendamos usar activamente los foros y otros espacios dispuestos para la interacción de la comunidad.
    <br>
    <br>
    <strong>¿Cómo puedo ver el progreso de mi curso? ¿Cómo saber qué me falta por hacer para completar el curso al 100%? </strong>
    <br>
    
    Comprueba tu avance, en plataforma, en el menú horizontal <b>Progreso</b>, al ingresar al curso.
    
    <br>
    <br>
    <strong>¿Qué sucede si no termino un curso abierto? ¿Podré tomar otro en el futuro?
    </strong>
    <br>
    Si por algún motivo no terminas el curso, no hay problema. De todas formas, procura esforzarte para finalizar el curso, de modo de no afectar la participación de otros,  aprender a cabalidad los contenidos y, si lo deseas, certificar tu proceso.
    <br>
    <br>
    <strong>¿Cómo cambio el nombre registrado en Uabierta?</strong>
    <br>
    Existen dos tipos de nombres en la plataforma. Uno es el nombre completo –con el cual se extiende el Certificado de Formación de Extensión- y el nombre corto u apodo, que aparece en las actividades en foros, que uno vez escrito es inmodificable.
    
    <br>
    <br>
    <strong>¿Cómo cambio el correo electrónico registrado en Uabierta?</strong>
    <br>
    Si necesitas editar el correo electrónico que registraste, cámbialo en tu avatar de usuario, en el enlace Cuenta. El manual de uso de plataforma te orientará, revísalo..
    </p>
    
    <h1>${_("Al finalizar mi curso UAbierta")}</h1>
    <p>
    <strong>¿Qué señala el Certificado de Formación de Extensión que otorga UAbierta?</strong>
    <br>
    El Certificado contiene los logos de las entidades responsables de los cursos, las firmas de las autoridades correspondientes, horas de duración, escala de aprobación y el período de realización del curso En él, se visualizan el nombre del usuario –tal cual se ingresó en la plataforma web-, y el nombre del curso realizado. Además, contiene un código de verificación que enlaza a un registro público para verificación y registro del documento.
    <br>
    <br>
    <strong>Puedo incluir el Certificado de Formación de Extensión en mi currículum vitae? </strong>
    <br>
    Por supuesto; nuestros cursos están avalados por la Universidad de Chile.
    <br>
    <br>
    <strong>¿Puedo cambiar el nombre que aparece en mi Constancia de honor? </strong>
    <br>
    El Certificado de Formación de Extensión se emite utilizando el nombre completo que informaste en la inscripción en nuestra plataforma, el cual debe ser el mismo que aparece en tu documento de identificación nacional. En varias ocasiones durante la ejecución del curso, te solicitamos verificarlo y editarlo, en caso de estar errado.  De necesitar modificarlo
    
    <br>
    <br>
    <strong>¿Puedo descargar los materiales de los cursos y compartirlos con mis estudiantes?
    </strong>
    <br>
    ¡Sí! Descarga los materiales y comparte los vínculos de las videoclases, pues fueron pensadas para divulgar el conocimiento, sin limitación alguna. Por supuesto, esperamos que tus acciones de divulgación sean sin fines de lucro, referenciando siempre a sus autores y al proyecto UAbierta de la Universidad de Chile.
    
    
    </p>
    </section>