# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%block name="pagetitle">${_("FAQ")}</%block>
<style>
.view-login .content-wrapper, .view-passwordreset .content-wrapper, .view-register .content-wrapper, body .content-wrapper {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background: 0 0;
    padding-bottom: 40px;
    background-color: #fff;
    min-height: 0px;
    line-height: 2.0em;
}
.static-container {
    margin: 0 auto 0;
    max-width: 1200px;
    padding: 60px 0 120px;
    width: 100%;
}
.content-wrapper>.static-container {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 0;
    max-width: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 40px;
}
@media (min-width: 768px){
    .content-wrapper>.static-container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .content-wrapper>.static-container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .content-wrapper>.static-container {
        width: 1170px;
    }
}
.content-wrapper>.static-container h1 {
    margin-top: 0;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.static-container h1 {
    margin-bottom: 30px;
    color: inherit;
    font-weight: 500;
    -webkit-font-smoothing: auto;
}
p {
    color: inherit;
    font: inherit;
    margin: 0 0 1em;
    text-align: justify;
}
b, strong {
    font-weight: 600;
}
</style>
<section class="static-container faq">

    <h1>${_("Sobre UAbierta")}</h1>
    
    <p>
    <strong>¿Qué es UAbierta?</strong>
    <br>
    UAbierta es la plataforma de cursos de extensión, masivos, abiertos y en línea de
    la Universidad de Chile. Lee más sobre nosotros en la sección UAbierta del <a href="/about">menú de inicio</a>.
    <br>
    <br>
    <strong>¿Qué es el Código de honor?</strong>
    <br>
    El Código de honor es el compromiso que adquieres al inscribirte en un curso de
    la plataforma UAbierta. Se basa en seis puntos principales respecto a tu conducta
    y actitud ante el aprendizaje activo. Te recomendamos revisar el <a href="/honor">Código de honor</a> periódicamente para estar familiarizado
     con eventuales actualizaciones.
    <br>
    <br>
    <strong>¿Qué equipamiento debo tener para tomar un curso de UAbierta?</strong>
    <br>
    Debes contar con acceso a un computador conectado a Internet. Si bien nuestro sitio web está diseñado para ser visualizado desde diversos dispositivos, consideramos que funciona óptimamente en los navegadores <a href="https://support.google.com/chrome/answer/95346?hl=es-419">Chrome</a> y <a href="https://www.mozilla.org/es-CL/firefox/new/">Firefox</a>. Si no los tienes, puedes descargarlos
    gratuitamente en sus sitios corporativos.
    <br>
    <br>
    <strong>¿Puedo tener más de una cuenta de usuario en UAbierta?</strong>
    <br>
    No, en la plataforma UAbierta no puedes registrarte con más de una cuenta de usuario,
    siempre usando información personal fidedigna.
    <br>
    <br>
    <strong>¿Los cursos de UAbierta entregan certificación, título o grado académico?</strong>
    <br>
    Los cursos de UAbierta de la Universidad de Chile otorgan una constancia en formato digital a quienes cumplan con las actividades obligatorias del curso. La hemos denominado “constancia de honor” porque está ligada a la conducta honesta que los usuarios deben observar al realizar un curso abierto. Consulta el <a href="/honor">Código de honor</a>.
    </p>
    
    <h1>${_("Registro en UAbierta")}</h1>
    
    <p>
    <strong>¿Cómo me registro en UAbierta?</strong>
    <br>
    Para registrarte, dirígete al botón <a href="/register">Regístrate</a> que encontrarás en la página principal (en el ángulo superior derecho de la pantalla). Una vez ahí, introduce tus datos: nombre, apellidos, correo electrónico, ciudad y país, entre otros. Luego, debes aceptar los términos del servicio (condiciones de la plataforma) y el Código de honor (compromiso de probidad para realizar tus cursos).
    <br>
    <br>
    Si ya posees una cuenta Google puedes enlazar tu perfil también con los registros de UAbierta. Una vez realizado este paso, deberás realizar a continuación un nombre de usuario y contraseña especial en nuestra página.
    <br>
    <br>
    Luego de estos pasos, recibirás un correo de activación de tu cuenta. Debes seguir las instrucciones de activación. Recuerda que tu usuario en el login de acceso es el correo electrónico con el que te registraste.
    
    <br>
    <br>
    <strong>¿Cómo cambio mi contraseña?</strong>
    <br>
    Puedes cambiar la contraseña tantas veces como quieras. Para ello tendrás que acceder a tu sesión, dentro de ella encontrarás el botón <font color="#00aff0">resetear contraseña</font>.
    <br>
    <br>
    <strong>¿Qué pasa si olvido mi contraseña?</strong>
    <br>
    
    En caso de no recordar tu tu contraseña, presiona la frase <font color="#00aff0">¿Olvidó su contraseña?</font>
    para luego, introducir el correo electrónico con el que te registraste y seleccionar “enviar”. En unos instantes –dependiendo del flujo de la red-, un correo electrónico llegará a tu casilla con las instrucciones necesarias para crear una nueva contraseña. Si no llega el correo de activación, te recomendamos revisar las bandejas de spam (correo no deseado).
    
    <br>
    <br>
    <strong>¿Puede caducar mi cuenta de usuario?</strong>
    <br>
    Sí, UAbierta se reserva el derecho de caducar la cuenta de aquellos usuarios que no respeten el Código de honor.
    </p>
    
    
    <h1>${_("Antes de iniciar en UAbierta")}</h1>
    <p>
    
    <strong>¿Cuánto cuestan los cursos en UAbierta?</strong>
    <br>
    Actualmente, los cursos existentes son libres de cobro para los participantes. Tampoco consideran cobros por materiales o por otro concepto.
    
    <br>
    <br>
    <strong>¿Quiénes pueden tomar los cursos?</strong>
    <br>
    
    Todos pueden ser parte de los cursos UAbierta. No existen requisitos académicos previos para tomar los cursos. Son 100% abiertos a la comunidad.
    
    <br>
    <br>
    <strong>¿En qué horario se dictan los cursos?</strong>
    <br>
    Los cursos –con sus materiales y recursos audiovisuales- están disponibles las 24 horas del día, durante las fechas que se dicte el curso en UAbierta.
    
    <br>
    <br>
    <strong>¿Cuánto duran los cursos?</strong>
    <br>
    
    La duración aproximada de los cursos de UAbierta es de entre 5 y 6 semanas.
    <br>
    <br>
    
    <strong>¿Cuánto tiempo de estudio debo dedicarle a los cursos de UAbierta?</strong>
    <br>
    El tiempo de dedicación dependerá de cada curso y sus exigencias. Te recomendamos que revises el vídeo de introducción al curso y los requisitos previos que el equipo docente te proporcionará antes de iniciar. Podrás encontrar los videos de introducción al presionar el botón “play” que se encuentra en la sección superior de cada página de descripción del curso.
    
    <br>
    <br>
    
    <strong>Quedé afuera de la inscripción de un curso en UAbierta. Quiero saber si existe una lista de espera u otra forma de inscripción. </strong>
    <br>
    Para los cursos actuales, no existen las listas de espera ni tampoco otras formas de inscripción. Te invitamos a abrir una cuenta en UAbierta, para recibir periódicamente información sobre las novedades. También puedes seguirnos en Twitter @UAbiertaUChile.
    <br>
    <br>
    <strong>Me gustaría tener información actualizada de los cursos que se abrirán, ¿Cómo puedo recibirla? </strong>
    <br>
    Te recomendamos abrir una cuenta en UAbierta, aun cuando no existan cursos con cupos disponibles. De esa manera, podremos enviarte periódicamente nuestras informaciones.
    </p>
    <h1>${_("Durante el curso en UAbierta")}</h1>
    <p>
    <strong>Acabo de hacer el registro en UAbierta y me quedó la duda si realmente estoy inscrita en el curso ¿Cómo puedo saberlo?</strong>
    <br>
    Puedes corroborarlo ingresando a la plataforma con tu clave y usuario: el curso en el que estás efectivamente inscrito aparecerá debajo del título
    <font color="#00aff0">Cursos activos</font>.
    <br>
    <br>
    <strong>Si tengo dudas durante el curso ¿A quién debo preguntar?</strong>
    <br>
    Cada uno de los cursos tiene un foro público de ayuda técnica y foros de contenidos. El equipo de UAbierta y la comunidad de aprendizaje estarán ahí para ayudarte a progresar en tus estudios.
    <br>
    <br>
    <strong>¿Puedo tomar dos o más cursos a la vez?</strong>
    <br>
    Sí, puedes tomar dos cursos simultáneamente. Solicitamos que aproveches la oportunidad con responsabilidad y compromiso para que puedas finalizar ambos cursos exitosamente.
    <br>
    <br>
    <strong>Existen cursos que tienen encuestas al inicio y final del curso. ¿Qué sucede si no las contesto?
     </strong>
    <br>
    
    En general, las encuestas iniciales y finales sirven para conocer mejor a quienes los cursan y para llevar estadísticas que nos permitan perfeccionar nuestro trabajo. Agradecemos que las contestes apenas lo solicitemos.
    <br>
    <br>
    <strong>¿Puedo realizar mis trabajos con ayuda de otros compañeros de curso en UAbierta?
    </strong>
    <br>
    En general, los trabajos y tareas de UAbierta se realizan en forma individual, a menos que los instructores o las reglas de algún curso en particular indiquen lo contrario.
    <br>
    <br>
    <strong>¿Es necesario participar de los foros para usuarios existentes en UAbierta?
    </strong>
    <br>
    UAbierta cree en la construcción colectiva del conocimiento. Por eso, te recomendamos usar activamente los foros y otros espacios dispuestos para la interacción de la comunidad.
    <br>
    <br>
    <strong>¿Cómo puedo ver el progreso de mi curso? ¿Cómo saber qué me falta por hacer para completar el curso al 100%? </strong>
    <br>
    
    Para verificar tu avance, debes acceder a la plataforma y dirigirte al menú horizontal <font color="#00aff0">Progreso</font> que
    está al ingresar a cada curso abierto.
    
    <br>
    <br>
    <strong>¿Qué sucede si no termino un curso abierto? ¿Podré tomar otro en el futuro?
    </strong>
    <br>
    Si por algún motivo no pudiste completar el curso, no hay problema. De todas formas, procura esforzarte para finalizar el curso, de modo de no afectar la participación de otros, obtener tu constancia de honor y aprender a cabalidad los contenidos.
    <br>
    <br>
    <strong>¿Cómo cambio el nombre registrado en Uabierta?</strong>
    <br>
    Existen dos tipos de nombres en la plataforma. Uno es el nombre completo –con el cual se extienden las constancias de Honor- y el nombre corto u apodo, que aparece en las actividades en foros. Actualmente, sólo se puede cambiar el primer nombre. Sigue este <a href="http://uabierta.uchile.cl/edicionnombre.pdf" >instructivo </a>
        para realizarlo.
    
    <br>
    <br>
    <strong>¿Cómo cambio el correo electrónico registrado en Uabierta?</strong>
    <br>
    Si usted necesita editar el correo electrónico con el que se registró, puede cambiarlo. Para ello revise este <a href="http://uabierta.uchile.cl/cambiocorreo.pdf" >instructivo</a>.
    </p>
    
    <h1>${_("Al finalizar mi curso UAbierta")}</h1>
    <p>
    <strong>¿Qué señala la constancia de honor que otorga UAbierta?</strong>
    <br>
    La constancia de honor contiene los logos de la Vicerrectoría de Extensión
     y Comunicaciones de la Universidad de Chile,
     las unidades académicas relacionadas con cada uno de los cursos. En él, se visualizan el nombre del usuario –tal cual lo ingresó en la plataforma web-, y el nombre del curso realizado. Además, contiene un código de verificación que enlaza a un registro público para verificación y registro del documento.
    <br>
    <br>
    <strong>¿Puedo incluir la constancia de honor en mi currículum vitae? </strong>
    <br>
    Por supuesto. Nuestros cursos están avalados por la Vicerrectoría de Extensión y Comunicaciones de la Universidad de Chile y las unidades académicas relacionadas a cada uno de ellos.
    <br>
    <br>
    <strong>¿Puedo cambiar el nombre que aparece en mi Constancia de honor? </strong>
    <br>
    La Constancia de honor se emite utilizando el nombre completo que informaste en la inscripción
    
    en nuestra plataforma, el cual debe ser el nombre real de tu documento de identificación. En
    
    varias ocasiones durante la ejecución del curso, te solicitamos verificarlo y editarlo, en caso de
    
    estar errado. Por tanto, una vez que fue emitida la Constancia de honor, ya no puede cambiarse el
    
    nombre.
    <br>
    <br>
    <strong>¿No puedo visualizar mi Constancia de honor ¿Qué puedo hacer? </strong>
    <br>
    Una vez que finaliza el proceso completo de evaluación del curso –asunto que ocurre entre 4 y 10
    
    días después de finalizado éste- te avisaremos por correo electrónico cuando puedas descargar la
    
    Constancia de honor desde nuestro sitio. Si ya te avisamos por correo y no puedes visualizarla,
    
    verifica que el antivirus o navegador de tu sistema no esté bloqueando la descarga del archivo. En
    
    general, puedes visualizarlo siempre desde un teléfono móvil.
    
    
    <br>
    <br>
    <strong>¿Puedo descargar los materiales de los cursos y compartirlos con mis estudiantes?
    </strong>
    <br>
    ¡Sí! Puedes descargar los materiales y compartir los vínculos de las videoclases, pues han sido pensadas para divulgar el conocimiento sin limitación de ninguna especie. Por supuesto, esperamos que tus acciones de divulgación sean sin fines de lucro, referenciando siempre a sus autores y al proyecto UAbierta de la Universidad de Chile.
    
    
    </p>
    </section>