# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />


<style>
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #2F80ED;
}

.about-block {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}

.question {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #2F80ED;
}

</style>


<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
    <h1 class="title">Preguntas Frecuentes</h1>

    <hr>

    <div class="container">
        <h2 class="question">¿QUÉ ES EDUABIERTA?</h2>
        <p class="about-block">
            La Plataforma EduAbierta desarrollada por el Programa Transversal de Educación de la Universidad de Chile, es una propuesta educativa abierta a la comunidad, masiva y en línea.
        </p>
    </div>

    <div class="container">
        <h2 class="question">¿CÓMO ME INSCRIBO EN EDUABIERTA?</h2>
        <p class="about-block">
            Es muy simple, si le interesaron nuestros cursos, apriete el botón “Registrarse”, donde se le pedirán una serie de datos para crear su cuenta. Una vez completado este paso, le llegará un correo electrónico a la dirección que usted puso en el formulario y podrá activar su cuenta. Abra solamente una cuenta, utilizando sus datos reales. Una vez creada su cuenta, se puede matricular en los cursos de su interés.
        </p>
        <p class="about-block">
            <a href="https://www.youtube.com/embed/y-4A29Kpjyk?autoplay=1">Ver videotutorial</a>
        </p>
    </div>

    <div class="container">
        <h2 class="question">¿QUÉ DEBE HACER SI OLVIDA SU CONTRASEÑA?</h2>
        <p class="about-block">
            Debe ir al botón ¿Olvidó su contraseña? e ingresar el correo electrónico con el que se registró y enviar el mensaje. Tras realizar esos pasos recibirá un correo electrónico con indicaciones para crear la nueva contraseña.
        </p>
    </div>

    <div class="container">
        <h2 class="question">¿QUÉ CERTIFICACIÓN ENTREGAN LOS CURSOS DE EDUABIERTA?</h2>
        <p class="about-block">
            Los cursos no son conducentes a título o grado académico. Sin embargo, EduAbierta le permite obtener dos tipos de certificación:
            <ul>
                <li class="about-block">Constancia de honor, que reconoce la participación en todas las instancias del curso en que se matriculó. Al finalizar el curso, se solicita de forma gratuita en la misma plataforma.</li>
                <li class="about-block">Certificado de aprobación, que acredita que usted cumplió con los requerimientos del curso. Al matricularse, o durante el desarrollo del curso, puede optar por esta certificación, que va asociada a un pago que se indica en cada curso. Una vez terminado el curso y realizada la transferencia, se solicita vía plataforma. Esta certificación es totalmente opcional.</li>
            </ul>
        </p>
    </div>

    <div class="container">
        <h2 class="question">¿A QUIÉN ESTÁN DIRIGIDOS LOS CURSOS DE EDUABIERTA?</h2>
        <p class="about-block">
            La propuesta educativa de EduAbierta, como su nombre lo indica; está diseñada para que todas las personas puedan acceder a los cursos Mooc (Massive open, on line, courses), al margen de su ubicación geográfica y nivel de estudios y considera pago optativo. Desde los 16 años se puede participar de EduAbierta y no existe límite en relación con los cursos a los que puede acceder en forma gratuita, con pago opcional.

            En algunas oportunidades, los cursos Mooc pueden tener públicos más definidos o específicos, sin embargo, el acceso está asegurado para quienes se matriculan en un curso.
            
            La plataforma EduAbierta, también puede ofrecer Diplomados, en conjunto con unidades académicas de la Universidad, en cuyo caso la actividad es con requisitos de ingreso previamente definidos y asociados a un pago por derechos de matrícula y arancel del Diploma.                
        </p>
    </div>

    <div class="container">
        <h2 class="question">¿QUÉ SE NECESITA PARA PARTICIPAR DE LOS CURSOS?</h2>
        <p class="about-block">
            Necesita contar con acceso a un computador con conexión a internet y un manejo básico de herramientas de Office como Word o Excel. Se sugiere acceder a EduAbierta desde navegadores como Mozilla Firefox o Google Chrome, que se descargan de forma gratuita.

            Necesita contar con tiempo para participar de las actividades de los cursos. El tiempo medio que se requiere es entre 4 y 6 horas semanales de dedicación durante las 6 semanas que duran nuestros cursos. Sin embargo, cada estudiante tiene sus propios ritmos de aprendizaje, por lo que los módulos permiten adecuarse a los tiempos personales.
        </p>
    </div>

    <div class="container">
        <h2 class="question">SI REQUIERE APOYO O PRESENTA DUDAS DURANTE EL DESARROLLO DE UN CURSO, ¿QUÉ PUEDE HACER?</h2>
        <p class="about-block">
            Una de las instancias donde se construye aprendizaje en forma colaborativa son los foros, cada módulo cuenta con uno donde usted puede compartir sus ideas, reflexiones y dudas en torno al tema del módulo con sus pares y el apoyo de un tutor virtual.

            Otra forma de apoyo consiste en que los cursos cuentan con un foro público de ayuda técnica. Nuestro equipo estará atento a sus consultas y comentarios.
        </p>
    </div>

    <div class="container">
        <h2 class="question">¿CUÁL ES LA CANTIDAD DE CURSOS EN LOS QUE SE PUEDE MATRICULAR? ¿SE DEBEN TERMINAR TODOS?</h2>
        <p class="about-block">
            Usted se puede matricular en todos los cursos abiertos de su interés. Sin embargo, le recomendamos ser responsable e inscribirse en cursos que desea terminar.

            No es necesario terminar todos los cursos en que se matricule, pero debe tener en consideración, que solamente se otorgarán las certificaciones en caso de haber concluido satisfactoriamente todas las actividades del curso.
            
            Si usted no termina un curso, posteriormente puede tomar otros sin restricciones.
        </p>
    </div>

    <div class="container">
        <h2 class="question">¿LA CUENTA DE USUARIO PUEDE SER CANCELADA POR EDUABIERTA?</h2>
        <p class="about-block">
            Si no se cumplen los Términos de uso y nuestro Código de Honor, EduAbierta se reserva el derecho de caducar su cuenta.
        </p>
    </div>
</main>
