# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%block name="pagetitle">${_("Honor Code")}</%block>
<style>
.content-wrapper>.static-container {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 0;
    max-width: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 40px;
    line-height: 1.5em;
}
@media (min-width: 768px){
    .content-wrapper>.static-container {
        width: 750px;
    }
}    
@media (min-width: 992px){
    .content-wrapper>.static-container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .content-wrapper>.static-container {
        width: 1170px;
    }
}
*, :after, :before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content-wrapper>.static-container h1 {
    margin-top: 0;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
h1 {
    margin: .67em 0;
}
.h1, h1 {
    font-size: 32px;
}
.content-wrapper>.static-container h1 {
    margin-top: 0;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
p {
    text-align: justify;
}

p {
    color: inherit;
    font: inherit;
    margin: 0 0 1em;
}
</style>
<section class="static-container honor">
<h1>${_(u"Código de Honor")}</h1>
<p>
Al inscribirte en un curso en la plataforma UAbierta, serás parte de una comunidad de aprendizaje creada por la Universidad de Chile para facilitar el acceso al conocimiento en diversas áreas del saber. <br><br>
Los cursos son totalmente gratuitos para los usuarios, lo que representa un importante esfuerzo para la Universidad, sus académicos, profesionales y funcionarios. En consecuencia, para su correcto funcionamiento necesitamos que te comprometas con tu aprendizaje y que observes una conducta honesta en todo momento.  <br><br>
Al inscribirte como usuario de nuestra plataforma, estás aceptando nuestro código de honor, el cual conlleva asumir las siguientes conductas y compromisos:  <br><br>
1.- No registrarte en nuestra plataforma con más de una (1) cuenta, usando un nombre real siempre. Jamás usarás información personal falsa.  <br><br>
2.- No realizar actividades deshonestas que incidan en tus resultados, o que perjudiquen los resultados de otros participantes.<br><br>
3.- Responde con integridad las evaluaciones intermedias y finales, sin jamás atribuirte como propio un trabajo ajeno. <br><br>
4.- A menos que los instructores de UAbierta, o las reglas de un curso en particular, indiquen lo contrario, realiza tus trabajos de forma individual.<br><br>
5.- Procura colaborar activamente con la comunidad en los espacios dispuestos para ello, como foros y wikis. <br><br>
6.- Mantén un espíritu crítico y activo, evitando los comentarios que  puedan resultar ofensivos o injuriosos, promoviendo relaciones respetuosas al interior de la comunidad. <br><br>

Los términos de este código de honor pueden cambiar en el tiempo. Te recomendamos revisar esta página periódicamente para estar familiarizado con eventuales actualizaciones. <br><br>
UAbierta se reserva el derecho a caducar la cuenta de aquellos usuarios que violen el código de honor.</p>
</section>

