# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />


<style>
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #2F80ED;
}

.about-block {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}

.question {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #2F80ED;
}

</style>


<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
    <h1 class="title">TÉRMINOS DE USO</h1>

    <hr>

    <div class="container">
        <h2 class="question">ENTIDAD RESPONSABLE</h2>
        <p class="about-block">
                El presente documento regula el acceso y el uso de “EduAbierta”, plataforma educativa en formato Open EDX, del Programa Transversal de Educación de la Universidad de Chile. Los titulares ponen a disposición de los usuarios la posibilidad de navegar, de acceder a los contenidos y servicios de la plataforma EduAbierta, y de inscribirse y tomar los cursos disponibles en la misma, siempre que lo hagan de acuerdo con lo previsto en los presentes “Términos de uso”.

                En cualquier caso, el titular se reserva el derecho de, en cualquier momento y sin necesidad de previo aviso, modificar o eliminar el contenido, estructura, diseño, servicios y condiciones de acceso y/o uso de este sitio, siempre que lo estime oportuno, así como el derecho interpretar las presentes condiciones, en cuantas cuestiones pudiera plantear su aplicación. La entidad responsable de la plataforma es el Programa Transversal de Educación dependiente de la Universidad de Chile, RUT 60.910.000-1 y con domicilio en Av. Capitán Ignacio Carrera Pinto 1025, Ñuñoa, Región Metropolitana, Chile. El correo electrónico de la entidad en casos de consulta sobre la plataforma es eduabierta@uchile.cl
        </p>
    </div>

    <div class="container">
        <h2 class="question">CALIDAD DE USUARIO Y UTILIZACIÓN DE LOS SERVICIOS Y CONTENIDOS DE LA PLATAFORMA EDUABIERTA</h2>
        <p class="about-block">
            La utilización del sitio web le atribuye la condición de Usuario y usted manifiesta su aceptación sin reservas de las presentes condiciones, en el mismo momento en que accede a la web (portal y plataforma). Se recomienda la lectura atenta de las mismas.

            Usted se compromete a utilizar el sitio web de conformidad con el presente acuerdo, las leyes y reglamentos aplicables. Si accede al servicio desde un lugar fuera de Chile, usted es responsable de cumplir con las respectivas leyes locales. Usted acepta que no utilizará el contenido al que acceda a través de EduAbierta en ningún país o de ninguna forma prohibida por las leyes, restricciones o regulaciones, que resultaren aplicables.
            
            Con el fin de participar en el sitio web (portal y plataforma) EduAbierta y cualquier curso que ésta ofrezca, usted debe registrarse y crear una cuenta de usuario, para lo cual deberá proporcionar una dirección válida de correo electrónico y crear un nombre de usuario y contraseña de acceso, para los que se solicitará confirmación vía correo electrónico válido que usted haya proporcionado al crear su cuenta.
            
            Para ser usuario de EduAbierta, se debe tener una edad mínima de 16 años al momento de la creación de su cuenta de Usuario. Sin embargo, podrían existir cursos con restricciones particulares en ese sentido.
            Los usuarios que no han confirmado su cuenta dentro de 7 días serán eliminados. Su nombre de usuario será visible públicamente en el sitio web. En la configuración de su cuenta y el registro para cualquier curso en particular, es posible que también se le pida que ingrese información adicional.
            
            El usuario registrado podrá darse de baja en la plataforma, perdiendo la condición de tal, y los derechos y datos asociados a su cuenta en cualquier momento escribiendo al correo eduabierta@uchile.cl con indicación del correo electrónico y nombre de usuario utilizado en la plataforma.
            
            Como se ha mencionado anteriormente, el titular podrá dar de baja al usuario si el usuario no cumple con los “Términos de uso”. Además, perderán la calidad de usuarios, todos aquellos que no han iniciado una sesión en la plataforma en un año corrido (365 días).
        </p>
    </div>

    <div class="container">
        <h2 class="question">RESPONSABILIDAD DEL USUARIO</h2>
        <p class="about-block">
            El usuario de la plataforma se compromete a suministrar información verdadera y exacta acerca de él mismo en sus formularios de registro. Además, el usuario se obliga a mantener en secreto sus claves de acceso, contraseñas o datos similares asignados para acceder a la plataforma o a cualquiera de sus servicios, siendo responsable de daños y perjuicios de toda naturaleza resultados del mal uso realizado por sí o por terceros. Usted reconoce que, si cualquier información proporcionada por usted es falsa, inexacta, no actualizada o incompleta, EduAbierta se reserva el derecho a denegar el acceso al curso seleccionado o de inhabilitar su cuenta de usuario

            El usuario se obliga a utilizar los cursos, servicios y contenidos que le proporciona la plataforma EduAbierta conforme a la legislación vigente, a los principios de buena fe y a los usos generalmente aceptados y a no contravenir con su actuación a través de la plataforma el orden público ni lo dispuesto en los presentes “Términos de uso”. Por tanto, queda prohibido todo uso con fines ilícitos o que perjudiquen o impidan, puedan dañar y/o sobrecargar la utilización y normal funcionamiento de la plataforma.
            
            Asimismo, queda prohibida la reproducción, distribución, transmisión, adaptación o modificación, por cualquier medio y en cualquier forma, de los contenidos de la plataforma o sus cursos (textos, diseños, gráficos, informaciones, bases de datos, archivos de sonido y/o imagen, logos y demás elementos de estos sitios), salvo autorización previa de sus legítimos titulares o cuando así resulte permitido por la licencia Creative Commons.
            
            En cualquier caso, el titular se reserva el derecho de, en cualquier momento y sin necesidad de previo aviso, denegar el acceso a la plataforma o desactivar o dar de baja a aquellos usuarios registrados que incumplan cualquiera de estos “Términos de uso”.
        </p>
    </div>

    <div class="container">
        <h2 class="question">SERVICIOS DE COMUNICACIÓN Y OTRAS ACTIVIDADES EN LA PLATAFORMA EDUABIERTA</h2>
        <p class="about-block">
            El sitio puede contener áreas de chat, foros, comunidades, calendarios y/o otras facilidades de mensajería o comunicación, diseñados para permitirle comunicarse con el público en general o con un grupo (colectivamente, "Servicios de Comunicación"), el usuario acepta usar los Servicios de Comunicación sólo para anunciar, enviar y recibir mensajes y material que sea apropiado y relativo a EduAbierta. El usuario se obliga a no introducir comentarios que puedan resultar ofensivos o injuriosos para los titulares o terceros, contrarios al orden público, o a la dignidad de las personas, o que de cualquier otra manera puedan resultar ilícitos o ilegales. El titular se reserva el derecho de retirar inmediatamente sin previo aviso de los foros u otras actividades aquellos comentarios que a su juicio incumplan lo dispuesto en esta cláusula.

            EduAbierta no controla ni aprueba el contenido, mensajes, o información encontrada en los Servicios de Comunicación y, por tanto, niega específicamente cualquier responsabilidad en relación con los Servicios de Comunicación y con cualquiera acción resultante de su participación en cualquier Servicio de Comunicación.
            
            EduAbierta se reserva el derecho de suspender el acceso al usuario a cualquiera o todos los Servicios de Comunicación en cualquier momento sin previo aviso y por la razón que sea.                
        </p>
    </div>

    <div class="container">
        <h2 class="question">CÓDIGO DE HONOR</h2>
        Para regular la participación en el sitio web EduAbierta y sus cursos, el Programa Transversal en Educación, ha generado un “Código de Honor”, asumiendo el Usuario la responsabilidad de dar cumplimiento en forma íntegra a los siguientes puntos:

        <p class="about-block">
            <ul>
                <li class="about-block">Registrarse en la plataforma solamente con una cuenta.</li>
                <li class="about-block">Que las respuestas a las actividades, tareas, cuestionarios y pruebas o exámenes sean producto de su propio trabajo y la elaboración de éstas se realice individualmente, excepto actividades explícitamente colaborativas.</li>
                <li class="about-block">No publicar ni facilitar las soluciones de las actividades de evaluación con la intención de beneficiar a otros usuarios de la plataforma.</li>
                <li class="about-block">Respetar el copyright de todo tipo de contenido.</li>
                <li class="about-block">Comprometerse a realizar un uso razonable de la plataforma y de sus contenidos.</li>
            </ul>
        </p>
    </div>

    <div class="container">
        <h2 class="question">DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL DEL PORTAL Y PLATAFORMA EDUABIERTA</h2>
        <p class="about-block">
            En Chile, la Ley 17.336 de 1970 sobre Propiedad Intelectual y su reglamento regulan el derecho de autor. Con motivos de difusión y divulgación de conocimiento, EduAbierta podrá utilizar los contenidos, mensajes o información provista por los participantes, otorgando a los usuarios una licencia de derechos de autor, no exclusiva, gratuita, indefinida y de alcance global a la Universidad de Chile para que pueda utilizar libremente dichos contenidos, en cualquiera de las formas a que se refiere la Ley de Propiedad Intelectual, en instancias acordes a los cursos específicos o del proyecto EduAbierta en general, reconociendo la autoría de éstos. Usted acepta que no adquiere ningún derecho de propiedad respecto cualquier contenido protegido.

            Los textos, diseños, imágenes, bases de datos, logos y demás elementos de la plataforma están protegidos por las leyes y los tratados internacionales sobre propiedad intelectual e industrial. Cualquier reproducción, transmisión, adaptación, traducción, modificación o cualquier otra explotación de parte del contenido de esta plataforma están estrictamente prohibidas salvo autorización previa por escrito de su correspondiente titular o de tales contenidos, a licencias de Creative Commons, en cuyo caso estarán permitidos los usos que permite la licencia aplicable en cada caso. Cualquier infracción de estos derechos puede dar lugar a procedimientos extrajudiciales o judiciales civiles o penales que correspondan.
            
            La legitimidad de los derechos de propiedad intelectual o industrial correspondientes a los contenidos aportados por terceros es de la exclusiva responsabilidad de estos. A los efectos de preservar los posibles derechos de propiedad intelectual, en el caso de que cualquier usuario o un tercero consideren que se ha producido una violación de sus legítimos derechos, deberá notificar sobre eso a los titulares al correo eduabierta@uchile.cl
        </p>
    </div>

    <div class="container">
        <h2 class="question">ENLACES A CONTENIDOS DE TERCEROS</h2>
        <p class="about-block">
            El portal y la plataforma EduAbierta, pueden incluir vínculos, enlaces o marcadores a páginas de otros sitios, ya sea de sitios externos sobre los que no tiene control o injerencia alguna, o de otros servicios de la Universidad de Chile. Las páginas externas son seleccionadas y evaluadas según su pertinencia a los objetivos de un determinado curso. Sin embargo, EduAbierta no se hace responsable por el contenido de éstas, dado que no produce, mantiene o actualiza esos sitios externos, como tampoco puede alterar su contenido. Usted reconoce y acepta que dicho contenido puede cambiar sin previo aviso y sin el consentimiento del titular. Por lo tanto, la inclusión de un vínculo, enlace o marcador a un sitio externo desde EduAbierta nunca debe entenderse como una adhesión a ese sitio, a sus responsables o a los productos o servicios que ofrezca; a los cuáles usted accede bajo su responsabilidad.
        </p>
    </div>

    <div class="container">
        <h2 class="question">CERTIFICACIÓN DE LAS ACTIVIDADES DEL USUARIO EN LA PLATAFORMA</h2>
        <p class="about-block">
            Estos certificados no constituyen por tanto un diploma o título oficial, ni garantizan la realización de los cursos por la persona física que se pueda corresponder con los nombres y apellidos del usuario registrado en la plataforma.

            El Programa Transversal de Educación de la Universidad de Chile, será quién decida la manera más adecuada de otorgar o no otorgar un certificado a los estudiantes de sus cursos. Si la entidad decide establecer algún tipo de sistema de entrega de certificado por un costo a los estudiantes; a menos que se declare lo contrario, todas las tarifas están expresadas en pesos chilenos. El Usuario es responsable de pagar todas las tarifas e impuestos aplicables de manera oportuna, con el mecanismo de pago asociado con los servicios pagos aplicables.
        </p>
    </div>

    <div class="container">
        <h2 class="question">INFORMACIÓN RELEVANTE PARA EL USUARIO</h2>
        <p class="about-block">
            Se informa al usuario que, debido a la configuración de los sistemas de algunos proveedores de Internet predispuesta para sus clientes, y por razones ajenas a EduAbierta, podría percibir el contenido no actualizado de las páginas visualizando las accedidas en anteriores visitas. Si se diera este caso, EduAbierta no se hace responsable, y recomienda al usuario que configure su navegador de Internet, con el fin de que actualice las páginas cada vez que se visiten.

            La información generada por las cookies se utiliza exclusivamente para evaluar el uso de este sitio web por parte de los usuarios, recopilando informes sobre la actividad del sitio web en su conjunto. Puede evitar el almacenamiento de las cookies seleccionando la configuración apropiada de su navegador. Sin embargo, si activa esta configuración debe tener en cuenta que es posible que no pueda disfrutar de un funcionamiento correcto y pleno de todas las características de este sitio.
            
            EduAbierta a se reserva el derecho de efectuar las modificaciones que estime oportunas, pudiendo cambiar, suspender o interrumpir cualquier aspecto del sitio web o curso. EduAbierta puede poner normas al uso de la página web o restringir su acceso a parte o a todo el sitio. Así mismo, se reserva el derecho de inhabilitar, interrumpir, retrasar, cambiar de instructores, o modificar cualquier curso por cualquier motivo. Se comunicarán estos cambios públicamente en la medida en que los usuarios pudieran verse afectados.
            
            EduAbierta se compromete a proteger los datos personales de los usuarios, utilizarlos únicamente para fines de comunicación de la plataforma y, en forma agregada, para fines estadísticos y evaluativos, obligándose a no comunicarlos a terceros en ninguna circunstancia, salvo orden judicial específica.
            
            Nada en estos Términos, con respecto a la participación en cualquier curso de EduAbierta establece relación entre el Usuario y la Universidad de Chile en términos de estudiante regular.
            
            Ante cualquier litigio, discrepancia o situación de conflicto, EduAbierta se rige por las leyes chilenas y cualquier conflicto entre el usuario y EduAbierta deberá ser conocido por los tribunales ordinarios de justicia de la ciudad de Santiago de Chile.
        </p>
    </div>

    <div class="container">
        <h2 class="question">EXCLUSIÓN DE GARANTÍAS Y DE RESPONSABILIDAD</h2>
        <p class="about-block">
            El titular no garantiza ni se hace responsable, en ningún caso, de los siguientes hechos y contenidos:

            <p class="about-block">
                <ul>
                    <li class="about-block">Falta de disponibilidad, continuidad, acceso, mantenimiento y efectivo funcionamiento de la plataforma y/o de sus servicios.
                        </li>
                    <li class="about-block">La correcta impartición de los cursos disponibles en la plataforma.
                        </li>
                    <li class="about-block">La calidad, titularidad, legitimidad o adecuación de los materiales y contenidos utilizados en los cursos y el tratamiento de los datos de los usuarios inscritos en los mismos.
                        </li>
                    <li class="about-block">La transmisión y/o existencia de virus, otros elementos o programas lesivos para los equipos de los usuarios que pudieran afectarles, como consecuencia del acceso, uso o examen de la plataforma.
                        </li>
                    <li class="about-block">Del uso ilícito, negligente, fraudulento, suplantando la personalidad de un tercero o contrario al contenido de estos “Términos de uso”, a la buena fe, a los usos generalmente admitidos, de la plataforma, de sus cursos, servicios y contenidos, por los usuarios.
                        </li>
                    <li class="about-block">De las vulneraciones o infracciones de las leyes, usos o costumbres vigentes en materia de derechos de propiedad intelectual de terceros.
                        </li>
                    <li class="about-block">Por la recepción, almacenamiento, obtención, difusión o transmisión por parte de los usuarios, de contenidos de la plataforma o sus cursos.
                        </li>
                    <li class="about-block">Por el incumplimiento, por parte de terceros, de sus obligaciones o garantías derivadas o contraídas en relación con los servicios prestados a los usuarios a través de la plataforma.
                        </li>
                    <li class="about-block">En todos los supuestos, los titulares excluyen cualquier responsabilidad por los daños y perjuicios de cualquier naturaleza derivados directa o indirectamente de los mismos y de cualquiera otros no especificados de similares características.
                        </li>
                </ul>
                </p>
        </p>
    </div>
</main>
