<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
import locale
from django.utils import timezone
now = timezone.now() 
%>
<%page args="course" expression_filter="h"/>

<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
  <a href="${reverse('about_course', args=[text_type(course.id)])}">
    <div class="inner-wrapper">
      <header class="course-preview">
        <hgroup>
          <h2>
            <span class="course-number"></span>
            ${course.display_name_with_default}
          </h2>
        </hgroup>
        <div class="info-link">➔</div>
      </header>
      <section class="info">
         <div class="cover-image">
            <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />            
        </div>      
        <div class="desc">
          % if course.end is not None and now is not None and course.end < now:
            <p style="text-align: justify;color: inherit;font: inherit;margin: 0 0 1em;">Curso finalizado.</p>                     
          % elif course.enrollment_end is not None and course.enrollment_end < now:
            <p style="text-align: justify;color: inherit;font: inherit;margin: 0 0 1em;">Inscripciones cerradas.</p> 
          %elif course.short_description is not None:                          
            <p style="text-align: justify;color: inherit;font: inherit;margin: 0 0 1em;">${course.short_description}</p>
          %else:                          
            <p style="text-align: justify;color: inherit;font: inherit;margin: 0 0 1em;">Sin descripción</p>
          % endif    
          
        </div>
        <div class="bottom" >
          <span class="university">Universidad_de_Chile</span>           
        <% 
          if course.start is not None:
              month = course.start.strftime('%m')
              day = course.start.strftime('%d')
              year = course.start.strftime('%Y')
              aux_month = "Enero"
              if month == "02":
                aux_month = "Feb"
              elif month == "03":
                aux_month = "Marzo"
              elif month == "04":
                aux_month = "Abril"
              elif month == "05":
                aux_month = "Mayo"
              elif month == "06":
                aux_month = "Junio"
              elif month == "07":
                aux_month = "Julio"
              elif month == "08":
                aux_month = "Agos"
              elif month == "09":
                aux_month = "Sept"
              elif month == "10":
                aux_month = "Oct"
              elif month == "11":
                aux_month = "Nov"
              elif month == "12":
                aux_month = "Dic"
              endif
          else:
            aux_month = ""
            day = ""
            year = ""
        %>        
        <span class="start-date">${day} ${aux_month} ${year}</span>           
        </div>
      </section>
      <div class="meta-info">
        <p class="university">Universidad_de_Chile</p>
      </div>
    </div>
  </a>
</article>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
