## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<style>
  footer.uabierta-footer {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    padding: 45px 0;
    border-top: 10px solid #00abbe;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  footer.uabierta-footer {
    color: #7d736d;
  }

  footer.uabierta-footer .footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  footer.uabierta-footer ul { 
    list-style: none outside;
    margin-right: 12px;
  }

  footer.uabierta-footer ul li {
    display: inline-block;
    margin-right: 6px;
  }

  footer.uabierta-footer ul i {
    color: #65666C;
  }

  footer.uabierta-footer .footer_button {
    margin: -12px 0 0;
    padding: 0 15px;
    border-radius: 50px;
    color: #65666C!important;
    background-color: transparent;
    box-shadow: none!important;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 42px;
    height: 42px;
    line-height: 42px!important;
    font-size: 25px!important;
    text-align: center;
    text-decoration: none!important;
    font-family: inherit!important;
    transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out;
  }
</style>

<footer class="uabierta-footer mt-3" style="background-image: url(${static.url('edx-uabierta/images/logo_footer/footer.jpg')});">
  <div class="uabierta-container">
    <div class="row">
      <div class="col-md-4 px-3 mx-auto">
        <h4 style="color: #1d262d;">UABIERTA</h4>
        <p>Lorem ipsum uabierta proyecto 2021 objet lorem stem isp ipsum uabierta proyecto 2021.</p>
        <div class="text-center p-2">
          <img src="${static.url('edx-uabierta/images/logo_footer/uchile.png')}" alt="UChile" class="img-fluid">
        </div>
        <div class="text-center p-2">
          <img src="${static.url('edx-uabierta/images/logo_footer/openedx.png')}" alt="OpenedX" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <a class="twitter-timeline" data-height="400" href="https://twitter.com/UAbiertaUChile?ref_src=twsrc%5Etfw">Tweets by UAbiertaUChile</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  <div class="uabierta-container footer-bottom text-center">
      <a id="back_to_top" class="footer_button float-sm-none float-md-right " href="#"><i class="fas fa-chevron-up"></i></a>
      <div class="float-sm-none float-md-left">© 2021 UABIERTA. Proyecto desarrollado por EOL Universidad de Chile</div>
      <ul class="social float-sm-none float-md-right">
        <li class="facebook"><span class="facebook"><a target="_blank" href="https://www.facebook.com/UAbiertaUChile" title="Facebook"><i
          class="icon fab fa-facebook-f"></i></a></span></li>
        <li class="twitter"><span class="twitter"><a target="_blank" href="https://twitter.com/UAbiertaUchile" title="Twitter"><i
          class="icon fab fa-twitter"></i></a></span></li>
        <li class="youtube"><span class="youtube"><a target="_blank"
          href="https://www.youtube.com/channel/UCKr4gfL_MGbCDECDtPOGdXw?view_as=pubspanc" title="YouTube"><i
              class="icon fas fa-play"></i></a></span></li>
        <li class="instagram"><span class="instagram"><a target="_blank" href="https://instagram.com/UAbiertaUchile" title="Instagram"><i
          class="icon fab fa-instagram"></i></a></span></li>
      </ul>
  </div>
</footer>
