## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<footer class="uabierta-footer mt-3" style="background-image: url(${static.url('edx-uabierta/images/logo_footer/footer.jpg')});">
  <div class="uabierta-container">
    <div class="row">
      <div class="col-md-4 px-3 mx-auto">
        <h4 style="color: #1d262d;">UABIERTA</h4>
        <p class="mt-4" style="font-size: 16px; line-height: 28px;">El proyecto representa nuestra voluntad de explorar y aprovechar las nuevas tecnologías educativas desde un enfoque de innovación pedagógica.        </p>
        <div class="text-center p-2">
          <img src="${static.url('edx-uabierta/images/logo_footer/uchile.png')}" alt="UChile" class="img-fluid">
        </div>
        <div class="text-center p-2">
          <img src="${static.url('edx-uabierta/images/logo_footer/openedx.png')}" style="max-width: 250px;" alt="OpenedX" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 px-3 mx-auto">
        <a class="twitter-timeline" data-height="400" href="https://twitter.com/UAbiertaUChile?ref_src=twsrc%5Etfw">Tweets by UAbiertaUChile</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
  <div class="uabierta-container footer-bottom text-center">
      <a id="back_to_top" class="footer_button float-sm-none float-md-right " href="#"><i class="fas fa-chevron-up"></i></a>
      <div class="float-sm-none float-md-left">© 2021 UABIERTA. Proyecto desarrollado por EOL Universidad de Chile</div>
      <ul class="social float-sm-none float-md-right">
        <li class="facebook"><span class="facebook"><a target="_blank" href="https://www.facebook.com/UAbiertaUChile" title="Facebook"><i
          class="icon fab fa-facebook-f"></i></a></span></li>
        <li class="twitter"><span class="twitter"><a target="_blank" href="https://twitter.com/UAbiertaUchile" title="Twitter"><i
          class="icon fab fa-twitter"></i></a></span></li>
        <li class="youtube"><span class="youtube"><a target="_blank"
          href="https://www.youtube.com/channel/UCKr4gfL_MGbCDECDtPOGdXw?view_as=pubspanc" title="YouTube"><i
              class="icon fas fa-play"></i></a></span></li>
        <li class="instagram"><span class="instagram"><a target="_blank" href="https://instagram.com/UAbiertaUchile" title="Instagram"><i
          class="icon fab fa-instagram"></i></a></span></li>
      </ul>
  </div>
</footer>
