## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from six import text_type

%>


<%block name="navigation_logo">
<a class="navbar-brand pl-2 pr-4" href="/">
  <img class="my-auto" src="${static.url('edx-uabierta/images/logo-uabierta.png')}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
</a>
</%block>
% if enable_enterprise_sidebar:
  <div class="enterprise-tagline">
    <% tagline = configuration_helpers.get_value('ENTERPRISE_TAGLINE', settings.ENTERPRISE_TAGLINE) %>
    % if tagline:
      ${tagline}
    % endif
  </div>
% endif